body {
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  font-size: 18px;
}

#first_paragraph {
  font-weight: bold;
  color: #e76f51;
  }

.green {
  color: #2a9d8f;
}

.large-font {
  font-size: 42px;
}

#navigation {
  margin-top: 60; 
  margin-bottom: 60;
}

p {
  color: #444444;
}

h1 {
  font-size: 42px;
  color: indigo;
}

h1.green {
  color: cadetblue;
}

ol {
color: #40916c;
}

.durmushy {
  color: blue;
}

ol.durmushy {
  color: orange;
}

.durmushy li {
  color: aqua;
}

#first-heading {
  text-align: center;
}

/* dark mode*/

body.dark * {
  color: rgb(255,255,255)
}

body.dark {
  background-color: #353535;
}

body.dark h1 {
  color: #FFFFFF !important; 
}

body.dark a {
  color: #FDFCDC;
}

body.dark p,
body.dark ul {
  opacity: 0.8;
}

body.dark button {
  color: black;
}