.green {
  color: darkcyan;
}

.large-font {
  font-size: 42px;
}

#navigation {
  margin-top: 60; 
  margin-bottom: 60;
}

#first_paragraph {
color: brown;
}

p {
  color: #444444;
}

h1 {
  font-size: 42px;
  color: indigo;
}

h1.green {
  color: cadetblue;
}

ol {
color: green;
}

.durmushy {
  color: blue;
}

ol.durmushy {
  color: orange;
}

.durmushy li {
  color: aqua;
}